<%= render 'shared/page_title', title: "ChefChat" %>

<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
      Hello
    </div>
  </div>
  <div class="message-container">

  </div>
</div>
