<div class="jumbotron center">
  <h1>Welcome to Myrecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>About My Recipes</h2>
    <p>I love to work with natural ingredients and whole foods as much as possible in my recipes. I am definitely not perfect, but I just feel better when I am eating this way. </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Mexican Recipe Roundup</h2>
    <p>Corn Queso Dip is a deliciously addictive appetizer that is perfect to make for watching football. Football season is upon us, y’all. We are BIG college football fans in my house. Part of the fun of that for us is what we will be eating while watching the game, naturally.  </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Chicken Tostadas (20 minute recipe)</h2>
    <p>Chicken tostadas are a delicious and easy dinner that is perfect for Cinco de Mayo, Taco Tuesday or any time!This is yet another one of the ways I use Mexican shredded chicken. This batch was made in my Instant Pot (Amazon affiliate).</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
