<footer class="footer">
  <small>
    <strong><a href="https:wwww.google.com">Matacode Development Training</a></strong>
    by <em><a href="https:wwww.google.com">Nohemi Layja</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>
